@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica{
    display: block;
    position: relative;
    left: 575px;
    top: 450px;
    width: 300px;
}


iframe#frame-you {
    display: block;
    position: relative;
    left: 100px;
    top: 25px;
    width: 410px;
    height: 315px;
    border: black;
}